<!Doctype>
<html>
<head>
    <title>Home</title>

    <link type="text/css" href="/assets/main.css" rel="stylesheet">
</head>
<body>

<div class="pageWrapper" >
    <section id="hiSection">
        <div class="overlay">
            <div class="borderFrame"></div>
            <div class="mainMenu">
                <div class="mainMenuItem">Home</div>
                <div class="mainMenuItem">Store</div>
                <div class="mainMenuItem">Portfolio</div>
                <div class="mainMenuItem">Contact</div>
                <div class="mainMenuItem">En</div>
            </div>
            <div class="logoText">ARTCOCO</div>

            <div class="headerTextWrapper">
                <div class="headerText">The best For you</div>
            </div>
        </div>
    </section>
    <section class="description">
        <div class="descriptionAboutUs">
            <div class="descriptionAboutUsItem">
                <p>Web design</p>
                <div><p class="descriptionAboutUsItemText">People on the web tend to want information quickly,
                        so it is important to communicate clearly, and make your
                        information easy to read and digest. </p>
                </div>

            </div>
            <div class="descriptionAboutUsItem">
                <p>Support</p>
                <div><p class="descriptionAboutUsItemText"> We are always ready to
                        help with your possible
                    problems at any time of the day or night.
                        Text us via email or call via WhatsApp</p>
                </div>

            </div>
            <div class="descriptionAboutUsItem">
                <p>Creative approach</p>
                <div><p class="descriptionAboutUsItemText">The ideal font size for reading easily online is 16px and
                        stick to a maximum of 3 typefaces in a maximum of 3 point sizes to keep
                        your design streamlined.  </p>
                </div>

            </div>
        </div>
    </section>

    <section class="portfolio">
        <div class="descPortfolio">Our Projects</div>
        <div class="scroll-container">
        <div id="works">
            <div id="work">
               <div class="out">
                   <div class="myWork">
                       <div class="workName">Wylsacom</div>
                       <div class="overlay2"></div>
                           <img src="assets/imgs/web_screen.png">
                   </div>
                   <div class="myWork">
                       <div class="workName">Wylsacom</div>
                       <div class="overlay2"></div>
                       <img src="assets/imgs/web_screen.png">
                   </div>
                   <div class="myWork">
                       <div class="workName">Wylsacom</div>
                       <div class="overlay2"></div>
                       <img src="assets/imgs/web_screen.png">
                   </div>
                   <div class="myWork"></div>
                   <div class="myWork"></div>
               </div>
            </div>
        </div>
        </div>
        <section class="footer">

        </section>
    </section>

</div>

<script   src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
<script src="/assets/scripts/skrollr.js"></script>
<script src="assets/scripts/launch.js"></script>


</body>
</html>

